<div class="header-container">
  <header class="wrapper clearfix">
    <div class="title">
      <a href="/" alt="return to the top page"><img src="{{ "images/siteicon.png" | relURL }}" /></a>
      <h1><a href="{{ "/" | relLangURL }}">{{ i18n "site_title" . }}</a></h1>
    </div>
    <nav>
      <ul>
        {{- $data := index $.Site.Data .Site.Language.Lang }}
        {{- $menu := index $data.menu "nav_header" }}
        {{- range  $menu }}
        <li><a href="{{ .url }}">{{ .name }}</a></li>
        {{- end }}
      </ul>
      {{ if .IsTranslated }}
        {{ range .Translations }}
      <div id="lang-selector">[ <a href="{{ .Permalink }}" alt="Switch to {{.Language.LanguageName}}">{{ .Language.LanguageName }}</a> ]</div>
        {{ end }}
      {{ end }}
    </nav>
  </header>
</div>

<div class="main-container">
  <div class="main wrapper clearfix">
