
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ i18n "site_title" . }} | {{ .Title }}</title>
  <meta name="description" content="{{ .Site.Params.site_description }}">
  <meta name="author" content="{{ .Site.Params.site_author }}">
  <meta name="copyright" content="{{ i18n "copyright" . }}">

  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,shrink-to-fit=no" />

  {{ if .IsTranslated }}
    {{ range .Translations }}
    <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
    {{ end }}
  {{ end }}

  <!-- normalizer with bootstrap -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  
    <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

  <!-- local settings -->
  <link rel="stylesheet" href="{{ "css/default.css" | relURL }}">
  <script type="text/javascript" src="{{ "js/default.js" | relURL }}" ><!-- --></script>
  
  <!-- local information -->
  <link rel="shortcut icon" href="{{ "images/favicon.ico" | relURL }}">
  <link rel="apple-touch-icon" href="{{ "images/apple_favicon.ico" | relURL }}">
  
